# Tipos de culinária

In [1]:
import pandas as pd
import numpy as np
import inflection

In [2]:
df = pd.read_csv("zomato.csv")

In [3]:
df.head(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7527 entries, 0 to 7526
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         7527 non-null   int64
 1   Restaurant Name       7527 non-null   object
 2   Country Code          7527 non-null   int64
 3   City                  7527 non-null   object
 4   Address               7527 non-null   object
 5   Locality              7527 non-null   object
 6   Locality Verbose      7527 non-null   object
 7   Longitude             7527 non-null   float64
 8   Latitude              7527 non-null   float64
 9   Cuisines              7512 non-null   object
 10  Average Cost for two  7527 non-null   int64
 11  Currency              7527 non-null   object
 12  Has Table booking     7527 non-null   int64
 13  Has Online delivery   7527 non-null   int64
 14  Is delivering now     7527 non-null   int64
 15  Switch to order menu  7527 non-null   int64
 16  Price range           7527 non-null   int64
 17  Aggregate rating      7527 non-null   float64
 18  Rating color          7527 non-null   object
 19  Rating text           7527 non-null   object
 20  Votes                 7527 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.2+ MB

In [5]:
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

In [6]:
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [7]:
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

In [8]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new

    return df

In [9]:
df["cuisines"] = df.loc[:, "Cuisines"].apply(lambda x: x.split(",")[0] if isinstance(x, str) else "")

In [10]:
df['Cuisines'].unique()

array(['Italian', 'European, Asian',
       'Filipino, American, Italian, Bakery', ...,
       'Fast Food, Izgara, Seafood, Tea, Coffee', 'Home-made, Izgara',
       'Restaurant Cafe, Kebab, Turkish Pizza'], dtype=object)

In [11]:
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,cuisines
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Italian
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,1,0,0,0,3,4.6,3F7E00,Excellent,619,Italian

Cleaning the data

In [12]:

unique_value_counts = df.nunique()

columns_to_remove = unique_value_counts[unique_value_counts == 1].index

df.drop(columns=columns_to_remove, inplace=True)

1 - Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
restaurante com a maior média de avaliação?

In [13]:
italian_restaurants = df[df['Cuisines'] == 'Italian'].copy()

italian_restaurants['Average Rating'] = italian_restaurants.groupby('Restaurant Name')['Aggregate rating'].transform('mean')

restaurant_highest_rating = italian_restaurants.loc[italian_restaurants['Average Rating'].idxmax()]

print(restaurant_highest_rating)

Restaurant ID                                          16587684
Restaurant Name                    Andre's Cucina & Polenta Bar
Country Code                                                 14
City                                                   Adelaide
Address                               94 Frome Street, Adelaide
Locality                              Frome Street, City Centre
Locality Verbose        Frome Street, City Centre, Adelaide, SA
Longitude                                            138.607893
Latitude                                             -34.924465
Cuisines                                                Italian
Average Cost for two                                        100
Currency                                              Dollar($)
Has Table booking                                             0
Has Online delivery                                           0
Is delivering now                                             0
Price range                                                   4
Aggregate rating                                            4.9
Rating color                                             3F7E00
Rating text                                           Excellent
Votes                                                       840
cuisines                                                Italian
Average Rating                                              4.9
Name: 366, dtype: object

2 - Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
restaurante com a menor média de avaliação?

In [14]:
restaurant_lowest_rating = italian_restaurants.loc[italian_restaurants['Average Rating'].idxmin()]
print(restaurant_lowest_rating)

Restaurant ID                                                    18334183
Restaurant Name                                  La Bocca Bar e Trattoria
Country Code                                                           30
City                                                       Rio de Janeiro
Address                 Rua Andre Cavalcanti, 56A, Centro, Rio de Janeiro
Locality                                                           Centro
Locality Verbose                                   Centro, Rio de Janeiro
Longitude                                                      -43.186781
Latitude                                                       -22.915356
Cuisines                                                          Italian
Average Cost for two                                                   80
Currency                                               Brazilian Real(R$)
Has Table booking                                                       0
Has Online delivery                                                     0
Is delivering now                                                       0
Price range                                                             3
Aggregate rating                                                      0.0
Rating color                                                       CBCBC8
Rating text                                                     Not rated
Votes                                                                   1
cuisines                                                          Italian
Average Rating                                                        0.0
Name: 184, dtype: object

3 - Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
restaurante com a maior média de avaliação?

In [15]:
american_restaurants = df[df['Cuisines'] == 'American'].copy()

american_restaurants['Average Rating'] = american_restaurants.groupby('Restaurant Name')['Aggregate rating'].transform('mean')

restaurant_highest_rating = american_restaurants.loc[american_restaurants['Average Rating'].idxmax()]

print(restaurant_highest_rating)

Restaurant ID                                    16973578
Restaurant Name         Tocabe, An American Indian Eatery
Country Code                                          216
City                                               Denver
Address                       3536 West 44th Avenue 80211
Locality                                         Berkeley
Locality Verbose                         Berkeley, Denver
Longitude                                      -105.03387
Latitude                                         39.77664
Cuisines                                         American
Average Cost for two                                   25
Currency                                        Dollar($)
Has Table booking                                       0
Has Online delivery                                     0
Is delivering now                                       0
Price range                                             2
Aggregate rating                                      4.9
Rating color                                       3F7E00
Rating text                                     Excellent
Votes                                                 202
cuisines                                         American
Average Rating                                        4.9
Name: 939, dtype: object

4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
restaurante com a menor média de avaliação?

In [16]:
lowest_restaurant_rating = american_restaurants.loc[american_restaurants['Average Rating'].idxmin()]
print(lowest_restaurant_rating)

Restaurant ID                                      18756337
Restaurant Name                           Alston Bar & Beef
Country Code                                            215
City                                             Manchester
Address                 Cathedral Street, Manchester M4 3TR
Locality                                      Market Street
Locality Verbose                  Market Street, Manchester
Longitude                                         -2.243234
Latitude                                          53.485074
Cuisines                                           American
Average Cost for two                                      0
Currency                                          Pounds(£)
Has Table booking                                         0
Has Online delivery                                       0
Is delivering now                                         0
Price range                                               1
Aggregate rating                                        0.0
Rating color                                         CBCBC8
Rating text                                       Not rated
Votes                                                     0
cuisines                                           American
Average Rating                                          0.0
Name: 6751, dtype: object

5 - Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
restaurante com a menor média de avaliação?

In [17]:
arabian_restaurant = df[df['Cuisines'] == 'Arabian'].copy()

arabian_restaurant['Average Rating'] = arabian_restaurant.groupby('Restaurant Name')['Aggregate rating'].transform('mean')

restaurant_highest_rating = arabian_restaurant.loc[arabian_restaurant['Average Rating'].idxmax()]

print(restaurant_highest_rating)

Restaurant ID                                                    18535007
Restaurant Name                                                  Mandi@36
Country Code                                                            1
City                                                            Hyderabad
Address                 1st Floor, Plot 1125, Road 36, Jubilee Hills, ...
Locality                                                    Jubilee Hills
Locality Verbose                                 Jubilee Hills, Hyderabad
Longitude                                                       78.407921
Latitude                                                        17.430713
Cuisines                                                          Arabian
Average Cost for two                                                  600
Currency                                               Indian Rupees(Rs.)
Has Table booking                                                       0
Has Online delivery                                                     1
Is delivering now                                                       0
Price range                                                             2
Aggregate rating                                                      4.7
Rating color                                                       3F7E00
Rating text                                                     Excellent
Votes                                                                1085
cuisines                                                          Arabian
Average Rating                                                        4.7
Name: 3896, dtype: object

6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
restaurante com a menor média de avaliação?

In [18]:
restaurant_lowest_rating = arabian_restaurant.loc[arabian_restaurant['Average Rating'].idxmin()]

print(restaurant_lowest_rating)

Restaurant ID                                                   6706513
Restaurant Name                                                   Raful
Country Code                                                         30
City                                                          São Paulo
Address                 Rua Comendador Abdo Schahin, 118, Sé, São Paulo
Locality                                                             Sé
Locality Verbose                                          Sé, São Paulo
Longitude                                                       -46.632
Latitude                                                     -23.543167
Cuisines                                                        Arabian
Average Cost for two                                                120
Currency                                             Brazilian Real(R$)
Has Table booking                                                     0
Has Online delivery                                                   0
Is delivering now                                                     0
Price range                                                           4
Aggregate rating                                                    0.0
Rating color                                                     CBCBC8
Rating text                                                   Not rated
Votes                                                                 3
cuisines                                                        Arabian
Average Rating                                                      0.0
Name: 337, dtype: object

7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
restaurante com a maior média de avaliação?

In [19]:
japanese_restaurants = df[df['Cuisines'] == 'Japanese'].copy()

japanese_restaurants['Average Rating'] = japanese_restaurants.groupby('Restaurant Name')['Aggregate rating'].transform('mean')

restaurant_highest_rating = japanese_restaurants.loc[japanese_restaurants['Average Rating'].idxmax()]

print(restaurant_highest_rating)

Restaurant ID                                                  7300004
Restaurant Name                                           Sushi Leblon
Country Code                                                        30
City                                                    Rio de Janeiro
Address                 Rua Dias Ferreira, 256, Leblon, Rio de Janeiro
Locality                                                        Leblon
Locality Verbose                                Leblon, Rio de Janeiro
Longitude                                                      -43.227
Latitude                                                    -22.984167
Cuisines                                                      Japanese
Average Cost for two                                               250
Currency                                            Brazilian Real(R$)
Has Table booking                                                    0
Has Online delivery                                                  0
Is delivering now                                                    0
Price range                                                          4
Aggregate rating                                                   4.9
Rating color                                                    3F7E00
Rating text                                                  Excellent
Votes                                                               33
cuisines                                                      Japanese
Average Rating                                                     4.9
Name: 240, dtype: object

8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
restaurante com a menor média de avaliação?

In [20]:
restaurant_lowest_rating = japanese_restaurants.loc[japanese_restaurants['Average Rating'].idxmin()]

print(restaurant_lowest_rating)

Restaurant ID                                               6600203
Restaurant Name                                        Banzai Sushi
Country Code                                                     30
City                                                       Brasília
Address                 CLS 103, Bloco B, Loja 6, Asa Sul, Brasília
Locality                                                    Asa Sul
Locality Verbose                                  Asa Sul, Brasília
Longitude                                                -47.897333
Latitude                                                 -15.811667
Cuisines                                                   Japanese
Average Cost for two                                             90
Currency                                         Brazilian Real(R$)
Has Table booking                                                 0
Has Online delivery                                               0
Is delivering now                                                 0
Price range                                                       3
Aggregate rating                                                0.0
Rating color                                                 CBCBC8
Rating text                                               Not rated
Votes                                                             1
cuisines                                                   Japanese
Average Rating                                                  0.0
Name: 123, dtype: object

9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
restaurante com a maior média de avaliação?

In [21]:
homemade_restaurant = df[df['Cuisines'] == 'Home-made'].copy()

homemade_restaurant['Average Rating'] = homemade_restaurant.groupby('Restaurant Name')['Aggregate rating'].transform('mean')

restaurant_highest_rating = homemade_restaurant.loc[homemade_restaurant['Average Rating'].idxmax()]

print(restaurant_highest_rating)

Restaurant ID                                                     6007184
Restaurant Name                                       GurMekan Restaurant
Country Code                                                          208
City                                                               Ankara
Address                 Ehlibeyt Mahallesi, Ceyhun Atuf Kansu Caddesi,...
Locality                                                           Balgat
Locality Verbose                                           Balgat, Ankara
Longitude                                                       32.816211
Latitude                                                        39.889738
Cuisines                                                        Home-made
Average Cost for two                                                   30
Currency                                                 Turkish Lira(TL)
Has Table booking                                                       0
Has Online delivery                                                     0
Is delivering now                                                       0
Price range                                                             2
Aggregate rating                                                      3.7
Rating color                                                       9ACD32
Rating text                                                          Good
Votes                                                                  12
cuisines                                                        Home-made
Average Rating                                                        3.7
Name: 7373, dtype: object

10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
restaurante com a menor média de avaliação?

In [22]:
restaurant_lowest_rating = homemade_restaurant.loc[homemade_restaurant['Average Rating'].idxmin()]

print(restaurant_lowest_rating)

Restaurant ID                                                     6007184
Restaurant Name                                       GurMekan Restaurant
Country Code                                                          208
City                                                               Ankara
Address                 Ehlibeyt Mahallesi, Ceyhun Atuf Kansu Caddesi,...
Locality                                                           Balgat
Locality Verbose                                           Balgat, Ankara
Longitude                                                       32.816211
Latitude                                                        39.889738
Cuisines                                                        Home-made
Average Cost for two                                                   30
Currency                                                 Turkish Lira(TL)
Has Table booking                                                       0
Has Online delivery                                                     0
Is delivering now                                                       0
Price range                                                             2
Aggregate rating                                                      3.7
Rating color                                                       9ACD32
Rating text                                                          Good
Votes                                                                  12
cuisines                                                        Home-made
Average Rating                                                        3.7
Name: 7373, dtype: object

11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas
pessoas?

In [23]:
average_price_for_two = df.groupby('Cuisines')['Average Cost for two'].mean()

culinary_type_with_highest_avg_price = average_price_for_two.idxmax()

highest_avg_price = average_price_for_two.max()

print("Tipo de Culinária com Maior Valor Médio para Dois (2) Pessoas:")
print(culinary_type_with_highest_avg_price)
print("Preço Médio para Dois (2) Pessoas:")
print(highest_avg_price)

Tipo de Culinária com Maior Valor Médio para Dois (2) Pessoas:
Modern Australian, Australian
Preço Médio para Dois (2) Pessoas:
25000017.0

12. Qual o tipo de culinária que possui a maior nota média?

In [24]:
highest_rating = df.copy()

highest_rating['Average rating'] = highest_rating.groupby('Cuisines')['Aggregate rating'].transform('mean')

type_of_cuisines = highest_rating.loc[highest_rating['Average rating'].idxmax()]
print(type_of_cuisines)

Restaurant ID                                                     6300010
Restaurant Name                  Spiral - Sofitel Philippine Plaza Manila
Country Code                                                          162
City                                                           Pasay City
Address                 Plaza Level, Sofitel Philippine Plaza Manila, ...
Locality                Sofitel Philippine Plaza Manila, CCP Complex, ...
Locality Verbose        Sofitel Philippine Plaza Manila, CCP Complex, ...
Longitude                                                      120.981666
Latitude                                                        14.552857
Cuisines                                          European, Asian, Indian
Average Cost for two                                                 6000
Currency                                                 Botswana Pula(P)
Has Table booking                                                       0
Has Online delivery                                                     0
Is delivering now                                                       0
Price range                                                             4
Aggregate rating                                                      4.9
Rating color                                                       3F7E00
Rating text                                                     Excelente
Votes                                                                1228
cuisines                                                         European
Average rating                                                        4.9
Name: 34, dtype: object

13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
online e fazem entregas?

In [25]:
online_delivery_restaurants = df.copy()
online_delivery_restaurants = df[(df['Has Online delivery'] == 1) & (df['Is delivering now'] == 0)]

culinary_counts = online_delivery_restaurants['Cuisines'].value_counts()
most_common_culinary = culinary_counts.idxmax()

print(most_common_culinary)
print(culinary_counts.max())

North Indian
61

# Geral

1 - Quantos restaurantes únicos estão registrados?

In [26]:
register_restaurants = df['Restaurant Name'].nunique()
print(register_restaurants)

5914

2 - Quantos países únicos registrados?

In [27]:
register_country = df['Country Code'].nunique()
print(register_country)

15

3 - Quantas cidades únicas estão registradas?

In [28]:
register_country = df['City'].nunique()
print(register_country)

125

4 - Qual o total de avaliações feitas?

In [29]:
total_rating = df['Votes'].sum()
print(total_rating)

4639654

5 - Qual o total de tipos de culinária registrados?

In [30]:
number_of_cuisines = df['cuisines'].nunique()
print(number_of_cuisines)

166

# País

1. Qual o nome do país que possui mais cidades registradas?

In [36]:
country_with_most_cities = df.groupby('Country Code')['City'].nunique().idxmax()
print(country_with_most_cities)

1

2. Qual o nome do país que possui mais restaurantes registrados?

In [32]:
pais_com_mais_restaurantes = df['cuisines'].value_counts().idxmax()

print(f"O país com mais restaurantes registrados é: {pais_com_mais_restaurantes}")

O país com mais restaurantes registrados é: North Indian

3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4
registrados?

In [33]:
restaurantes_nivel_4 = df[df['Price range'] == 4]

contagem_por_país = restaurantes_nivel_4['Locality'].value_counts()

país_com_mais_restaurantes_nivel_4 = contagem_por_país.idxmax()

print(país_com_mais_restaurantes_nivel_4)

Downtown

4. Qual o nome do país que possui a maior quantidade de tipos de culinária
distintos?

In [38]:
country_with_most_cuisines = df.groupby('Country Code')['Cuisines'].nunique().idxmax()

# Imprima o nome do país
print(f"O país com mais tipos de culinária distintos é: {country_with_most_cuisines} - {COUNTRIES[country_with_most_cuisines]}")

O país com mais tipos de culinária distintos é: 1 - India